apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mirror-svc.fullname" . }}
  labels:
    app: {{ include "mirror-svc.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "mirror-svc.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "mirror-svc.name" . }}
    spec:
      containers:
        - name: mirror-svc
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 4004
          env:
            {{- range .Values.env }}
            - name: {{ .name }}
              value: "{{ .value }}"
            {{- end }}
          volumeMounts:
            {{- range .Values.volumeMounts }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
            {{- end }}
      volumes:
        {{- range .Values.volumes }}
        - name: {{ .name }}
          emptyDir: {}
        {{- end }}
